.alignCenter{
    text-align: center;
}

.white{
    color: white;
}

h1{
    font-size: 80px;
    text-align: center;
    background-color:wheat;
    color:black;
}

h2{
    color: slategray;
    text-align: center;
}

h3{
    color: rgb(144, 38, 22);
    text-align: center;
}

img {
    box-shadow: 10px 10px 5px black;
    max-width: 50%;
    max-height: auto;
}

section{
    background-color: rgb(175, 236, 239);
}

p{
    text-align: center;
}

ul {
    margin-left: 30%;
    width: 50%;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
